@import url(https://demos.creative-tim.com/marketplace/soft-ui-design-system-pro/assets/css/soft-design-system-pro.min.css?v=1.0.8);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
.page-header {
    background-image: url('https://demos.creative-tim.com/marketplace/soft-ui-design-system-pro/assets/img/curved-images/curved10.jpg');
}
.pre {
    height:36px;
    margin-top:-35px;
    height:36px;
    margin-top:-35px;
}
